/* dropdown menu */
ul {
list-style-type: none;
  margin: 8px;
  min-width: 160px;
  background-color:  #141414;
  text-align: center;
  color: #FBDAC3;
}


li {
  list-style-type: none;
  float: left;
  background-color: #FBDAC3;
}

li a, .dropbtn {
  list-style-type: none;
  display: inline-block;
  color: #FBDAC3;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color:  #141414;
}

li a:hover {background-color: #FFF1DD}

li a:hover .dropdown:hover .dropbtn {background-color: #FFF1DD}

li.dropdown {
  list-style-type: none;
  display: inline-block;
    background-color:  #141414;
}

.dropdown-content {
  overflow: auto;
  display: none;
  position: absolute;
  background-color: #FFC48F;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); /*size and place of shadow*/
  z-index: 1;
}

.dropdown-content a {
  color: #FFC48F;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
  float: none;
}

.dropdown-content a:hover {background-color: #FFF1DD;}

.dropdown:hover .dropdown-content {
  display: block;
}


/* h1 style */
h1 {
color: black;
font-family:monospace;
font-size: 30px;
text-align: center;
}
/* background color*/

body {
  background-color: #FFC48F;
}
/* result for entering quiz */
#start {
  margin: 25px;
  padding: 20px;
  background-color: black;
  color: #FFC48F;
  display: none;
  align-items: left;
}

/* input css for bg and color */
input [type=text]{
  width: 50%;
  background-color: black;
  color: #FCC48F;
  }
/** css for the form **/
form {
  background-color: black;
  color: #FCC48F;
  padding: 12px 20px;
  margin: 25px;
}
/** css for certain label style **/ A
#big {
  font-size: 25px;
}

.CUISINE {
  margin: 25px;
  padding: 20px;
  text-align: left;
  background-color: black;
    color: #FCC48F;
}
