.carpeta{
  height: 100px;
  width: 100px;
  display: block;

  position: relative;
  transition: background-image 4s;

  animation-name: example2;
  animation-timing-function: linear;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-delay: 2s;
  float: left;
}
.page{
  background-color: #F2FFB2;
  font-family: copperplate;
  color: white;
}
.page h1{

  border-style: groove;
  border-width: 10px;
  font-size: 72px;

}

body{
  background-color: #F2FFB2;
}
.navbar {
  overflow: hidden;
  background-color: #333;
}

.navbar a {
  float: left;
  font-size: 25px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 25px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;}


  .leave{

    width: 25px;
    height: 25px;
    position: relative;
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 10s; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 10s;
}

@-webkit-keyframes example {
  0%   { left:0px; top:0px;}
  25%  { left:200px; top:0px;}
  50%  {left:200px; top:0px;}
  75%  { left:0px; top:0px;}
  100% {left:0px; top:0px;}
}
